<!DOCTYPE html>
<html>
<head>
    <title>Entropia da senha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Calculadora de entropia de senha</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>

        {% if result is not None %}
            <hr>
            <h3>Entropia: {{ result }}</h3>
            <h4>Qualidade: {{ quality }}</h4>
            {% if pwned %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
